*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
*body{
    background-color: #ecebeb;
    font-family: 'Roboto', sans-serif;
}
.sosmed a{
    color: #fff;
}
.row{
    background-color: #e02f3d;
    padding-top: 5px;
    font-size: 13px;
}
.row ul li{
    display: inline-block;
    color: #fff;
    margin-left: 20px;
}
i{
    font-size: 16px;
    color: #26215d;
    background-color: #fff;
    border-color: #26215d;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    border-radius: 5px;
}
.sosmed i:hover{
    background-color: #000;
    color: #fff;
}
body{
    margin: 0px;
    padding: 0px;
    border: 50px;
    font-family: 'Roboto', sans-serif;
}
.navbar{
    padding: 0;
    padding-left: 100px;
}
.menu{
    margin-right: 20px;
    padding-left: 250px;
    color: #26215d;
    font-weight: bold;
    padding-bottom: 0;
}
.menu a{
    color: #26215d;
}
.menu a:hover{
    color: #e02f3d;
}
.header{
    padding: 0;
}
.judul{
    background-color: #ecebeb;
}
.produk{
    background-color: #fff;
    margin-right: 50px;
    margin-bottom: 70px; 
    padding: 30px; 
}
.row{
    background-color: #ecebeb;
}
.produk h2{
    font-weight: bold;
}
.produk .lanjut{
    display: inline-block;
}
.product{
    background-color: #ecebeb;
}
.karir{
    background-color: #e02f3d;
    padding-top: 0;
    padding-bottom: 50px;
}
.karir h1{
    font-weight: bold;
    color: #fff;
}
.karir-text{
    background-color: #fff;
    text-align: justify;
    padding-top: 30px;
    padding-bottom: 15px;
}
.karir-text h5{
    color: #3e3e3e;
}
.karir-text p{
    font-size: 14px;
    color: #787879;
    text-align: justify;
    padding-bottom: 0;
}
.karir .row{
    background-color: #e02f3d;
}
.lanjut{
    background-color: #26215d;
    color: #fff;
    padding: 15px;
    font-size: 14px;
    border: solid;
    border-color: #26215d;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
    margin-top: 35px;
    margin-bottom: 35px;
    display: inline-block;
}
.lanjut:hover{
    background-color: #000;
    color: #fff;
    display: inline-block;
    border-color: #000;
}
.lanjut a:link, .lanjut a:visited{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    background-color: transparent;
}
.berita{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fff;
}
.berita .row{
    background-color: #fff;
}
.berita h1{
    font-weight: bold;
    padding-bottom: 30px;
}
.hubungi{
    background-color: #787879;
    color: #fff;
}
.hubungi h1{
    font-weight: bold;
}
.hubungi .row{
    background-color: #787879;
}
.footer{
    text-align: justify;
    color: #fff;
}
.footer h5{
    font-weight: bold;
    color: #fff !important;
}
.kontak .info{
    margin-bottom: 21px !important;
}
.kontak .info i{
    font-size: 16px;
    color: #ffffff;
    background-color: #363636;
    border-color: #363636;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
}
.kontak .info ul li{
    color: #cfcfcf;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 21px;
}
.maps iframe{
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    outline: 0;
}